.page-hoa {
    background-color: blueviolet;
}

.page-sophie {
    background-color: coral;
}

.page-schamil {
    background-color: cadetblue;
}

.page-marco {
    background-color: gray;
}

.page-timur {
    background-color: darkblue;
}

