*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 0;
}

h2 {
    margin-bottom: 5vh;
    font-size: 26pt;
}

#screenreader-container {
    background-color: #0D2673;

    border: solid;
    display: grid;

    grid:
    ".  HL      .   .       .   " 0.5fr
    ".  clip    .   text    .   " 1fr
    ".  clip    .   text    .   " 1fr
    ".  clip    .   .       .   " 1fr
    ".  .   .   .   .   " 0.5fr
    /1fr 1fr 1fr 3fr 1fr;    

    
}

#screenreader-container h2 {
    /* HL = Headline */
    grid-area: HL;
    color: #F2D16D;
    text-align: center;
    margin: 5%;
    
}

#screenreader-container > iframe {
    grid-area: clip;
}

#screenreader-container > article {
    color: #F2D16D;
    font-size: 20pt;
    grid-area: text;
    text-align: justify;
    align-items: center;
}


/* ------helper------- */

/*  */
#emphasis {
    font-weight: 700;
    margin: 5% 0;
}