@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0b1d6f;
    padding: 1em;
}

header > nav {
    width: 40%;
}

header > nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    font-size: 1.5em;
    color: #ffe570;
    font-weight: 700;
}

.nav-dropdown-menu {
    display: none;
}

/* header > nav > ul > li {
    text-decoration: none;
} */

#header-logo {
    border-radius: 50%;
    width: 96px;
    height: 96px;
}